@charset "utf-8";

/* 스와이퍼 */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 상세페이지 */

html, body{
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 100;
  line-height: 1.8;
}

#pf_info .pf_go{
  border-bottom: 0;
}

.pf_info{margin-top: 30px;}

#pf_info .pf_info li strong{
  font-weight: bold;
  display: inline-block;
  margin-right: 15px;
  padding-right: 15px;
  position: relative;
  color: #2B484E;
  width: 135px;
}
.pf_info li strong::after{
  content: '';
  display: inline-block;
  width: 2px;
  height: 15px;
  background-color: #A8D7CD;
  position: absolute;
  top: 50%; right: 0;
  transform: translateY(-50%);
}
.pf_info li.colors{
  position: relative;
}
.pf_info .cos{
  position: absolute;
  top: 5px; left: 140px;
}
.pf_info .cos li{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #A8D7CD;
  display: inline-block;
  margin-right: 5px;
}

/* page color */
.colors .cos .p_cos1{background-color: #33546d;}
.colors .cos .p_cos2{background-color: #7fa7b8;}
.colors .cos .p_cos3{background-color: #f1485b;}
.colors .cos .p_cos4{background-color: #f7efed;}

/* veryvery color */
.colors .cos .v_cos1{background-color: #f9afc0;}
.colors .cos .v_cos2{background-color: #ec5a5b;}
.colors .cos .v_cos3{background-color: #c3d0eb;}
.colors .cos .v_cos4{background-color: #afa3cc;}

/* my웨딩 color */
.colors .cos .m_cos1{background-color: #88983D;}
.colors .cos .m_cos2{background-color: #628C74;}
.colors .cos .m_cos3{background-color: #FF931E;}

/* petisking color */
.colors .cos .k_cos1{background-color: #FAE1E1;}
.colors .cos .k_cos2{background-color: #C3D0EB;}
.colors .cos .k_cos3{background-color: #ED8E8E;}
.colors .cos .k_cos4{background-color: #98B6EA;}

/* cardnews color */
.colors .cos .g_cos1{background-color: #FF931E;}
.colors .cos .g_cos2{background-color: #3FA9F5;}
.colors .cos .g_cos3{background-color: #FFAC6B;}

/* web banner color */
.colors .cos .w_cos1{background-color: #FA89A4;}
.colors .cos .w_cos2{background-color: #FE5D82;}
.colors .cos .w_cos3{background-color: #FFFFFF; border: 1px solid #aaa;}


#pf_more .imgBox{
  width: 100%;
  overflow: hidden;
}
#pf_more .imgBox img{
  width: 100%;
}

/* cardnews swiper */
.mySwiper_card{
  width: 600px;
}
.cardswiper{
  position: relative;
}
.cardswiper .swiper-button-prev,
.cardswiper .swiper-rtl .swiper-button-next{
  left: 90px;
  color: #377374;
}
.cardswiper .swiper-button-next,
.cardswiper .swiper-rtl .swiper-button-prev{
  right: 90px;
  color: #377374;
}
.cardswiper .swiper-horizontal>.swiper-pagination-bullets, 
.cardswiper .swiper-pagination-bullets.swiper-pagination-horizontal, 
.cardswiper .swiper-pagination-custom, 
.cardswiper .swiper-pagination-fraction{
  bottom: -5px;
}

/* web banner */
/* #pf_more .imgBox ul li:nth-child(1){
  width: 783px;
  margin: 0 auto 30px;
}
#pf_more .imgBox ul li:nth-child(4){
  width: 350px;
  margin: 0 auto 30px;
}
#pf_more .imgBox ul li:nth-child(5){
  width: 750px;
  margin: 0 auto 30px;
} */
#pf_more .imgBox ul li{
  margin-bottom: 30px;
}


@media (min-width:1681px){
  #pf_info .pf_info li strong{
    font-size: 20px;
  }
}